.sidebar {
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100%;
    background: linear-gradient(135deg, #e74c3c 0%, #e74c3c 100%);
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000; /* Ensure the sidebar is above other content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto; /* Make the sidebar scrollable */
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: #fbf8ff;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .close-btn:hover{
    background-color:#fff; 
  }
  .search-bar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .search-bar button {
    background: #fff;
    border: none;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background: #ddd;
  }
  
  .category-item {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    text-align: left;
  }
  
  .category-item:hover {
    color: #ffcc00;
  }
  
  .subcategory-list {
    padding-left: 20px;
  }
  
  .subcategory-item {
    font-size: 16px;
    padding: 5px 0;
    color: #ddd;
  }
  
  .subcategory-item:hover {
    color: #ffcc00;
  }
  
  .sidebar-footer {
    position: fixed;
    bottom: 0;
    background-color: #e74c3c;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;  
  }
  
  .sidebar-footer button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    
  }
  
  .sidebar-footer button:hover {
    color: #ffcc00;
  }
  .sidebar-footer i{
    font-size: 20px;
    margin: 0 10px;
    color: white;
  }
  .content-section {
    margin-top: 15px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.content-section h3 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px; 
  padding: 10px;
}

